node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

yelp.js

# macOS
.DS_Store

# Client ID
# FR1Ijy2dScngJAJDAjqflA

# API Key
# 2qUOEDRpJOyNul_iyHIGAvkkeL2S6onkDHzQMweCzuR5ramLeEnhuT36m8xrEFEE8Ia5e5T11znQ5NLHUWbhoq1IdD3D7pHaFUydu2WxiPMSHtCf6qj2mrheFudcXnYx